@page
@model ZooBazaarWebApp.Pages.DetailsModel
@{
}

<h1>User Details</h1>



<div class="container">
    <h4>Welcome @Model.employee.FirstName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.employee.Id</dd>
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.employee.FirstName</dd>
        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.employee.LastName</dd>
        <dt class="col-sm-2">Username</dt>
        <dd class="col-sm-10">@Model.employee.Username</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.employee.EmailAddress</dd>
        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.employee.Address</dd>
        <dt class="col-sm-2">Contact Info</dt>
        <dd class="col-sm-10">@Model.employee.ContactInfo</dd>
       
    </dl>
    <h4>Contract data</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">Start date</dt>
        <dd class="col-sm-10">@Model.employee.Contract.ContractStart</dd>

        <dt class="col-sm-2">End date</dt>
        <dd class="col-sm-10">@Model.employee.Contract.ContractEnd</dd>
        <dt class="col-sm-2">Monthly Salary</dt>
        <dd class="col-sm-10">@Model.employee.Contract.Salary</dd>
        <dt class="col-sm-2">Job position</dt>
        <dd class="col-sm-10">@Model.employee.Contract.JobTitle</dd>
    </dl>


<div>
    <a asp-page="/EditDetails" class="btn btn-primary btn-block mt-4 earth-yellow">Edit</a>
    <a asp-page="/EditPassword" class="btn btn-primary btn-block mt-4 earth-yellow">Change Password</a>
</div>


